.percentbar { background: #bdbdbd; border:1px solid #666666; height:20px; }
.progressbar { background: #14d24d; height: 20px; }
.timebar { background: #ff0000; height: 20px; }

.bigbox { border:1px solid #666666;  height:20px; }